.products
{
  width: 100%;
  padding: 20px;
  background-color: rgb(231, 236, 225);
display: flex;
row-gap: 30px;
flex-wrap: wrap;
column-gap: 4%;

}
.product{
  width: 22%;
  padding: 10px;
  background-color:skyblue;
  border-radius: 5px;
}
.p-title
{
  font-size: 20px;
}
.p-image
{
  width: 100%;
  
}